.games-list-wrap {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.game-item {
  min-height: 150px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.game-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.game-extra-text {
  font-size: 18px;
  font-weight: normal;
  color: rgb(53, 53, 53);
}

.game-image {
  height: 150px;
  width: 'auto';
  max-width: 40%;
  background-size: contain;
  border-radius: 5px;
}

.game-info {
  padding: 5px;
}

p {
  margin: 0;
}

.date-title {
  text-align: center;
  color: black;
}
